<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <br><br>
  <h1 style = "text-align: center;">Innovaccer Inc.</h1>
  <br><br>
  
  {% if message %}
    <div class="alert alert-warning">
      <strong>{{message}}</strong>
    </div>
  {% endif %}

  <h3 style = "text-align: center;">For Entry</h3>

  <form action="/otpform" method="POST">
         
    <div class="form-group">
      
      <label for="visitor_email">Email:</label>
      <input type="email" class="form-control" id="visitor_email" placeholder="Enter Email Number" name="visitor_email" required>
    </div>
  
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  <br><br><br>
 
  <h3 style = "text-align: center;">For Exit</h3>
 
  <form action="/addcheckout" method="POST">
         
    <div class="form-group">
      <label for="visitor_email">Email:</label>
      <input type="email" class="form-control" id="visitor_email" placeholder="Enter Email Number" name="visitor_email" required>
    </div>
  
    <button type="submit" class="btn btn-primary">Check Out</button>
  </form>
</div>
  <br><br><br>

</body>
</html>
